<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Contracte del servei WebAPI -->
    <preference for="Nacento\Connector\Api\CustomGalleryManagementInterface"
                type="Nacento\Connector\Model\GalleryProcessor"/>
    
    <!-- DTO del payload d’imatges -->
    <preference for="Nacento\Connector\Api\Data\ImageEntryInterface"
                type="Nacento\Connector\Model\Data\ImageEntry"/>

    <!-- endpoint bulk -->
    <preference for="Nacento\Connector\Api\BulkGalleryManagementInterface"
                type="Nacento\Connector\Model\GalleryProcessorBulk"/>

    <preference for="Nacento\Connector\Api\Data\BulkRequestInterface"
                type="Nacento\Connector\Model\Data\BulkRequest"/>

    <preference for="Nacento\Connector\Api\Data\BulkItemInterface"
                type="Nacento\Connector\Model\Data\BulkItem"/>

    <preference for="Nacento\Connector\Api\Data\BulkResultInterface"
                type="Nacento\Connector\Model\Data\BulkResult"/>

    <preference for="Nacento\Connector\Api\Data\BulkSkuResultInterface"
                type="Nacento\Connector\Model\Data\BulkSkuResult"/>
    
    <preference for="Nacento\Connector\Api\Data\BulkStatsInterface"
                type="Nacento\Connector\Model\Data\BulkStats"/>
                
    <preference for="Nacento\Connector\Api\Data\ImageStatsInterface"
                type="Nacento\Connector\Model\Data\ImageStats"/>

    <!-- Planner -->
    <preference for="Nacento\Connector\Api\BulkGalleryAsyncManagementInterface"
                type="Nacento\Connector\Model\BulkGalleryAsyncManagement"/>

    <!-- Missatge del topic -->
    <preference for="Nacento\Connector\Api\Data\ProcessGalleryMessageInterface"
                type="Nacento\Connector\Model\Data\ProcessGalleryMessage"/>
    
</config>