<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Nacento\Connector\Api\CustomGalleryManagementInterface"
                type="Nacento\Connector\Model\GalleryProcessor"/>
    
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Gallery"
                type="Nacento\Connector\Model\ResourceModel\Product\Gallery"/>

    <preference for="Nacento\Connector\Api\Data\ImageEntryInterface"
                type="Nacento\Connector\Model\Data\ImageEntry"/>
</config>